//- 
	Catalog web/view

	Copyright 2014 Commons Machinery http://commonsmachinery.se/

	Authors:
		Elsa Balderrama <elsa@commonsmachinery.se>
		Peter Liljenberg <peter@commonsmachinery.se>

	Distributed under an AGPL_v3 license, please see LICENSE in the top dir.

include includes/top
a(class="grid-20 tablet-grid-50 mobile-grid-100" href="/works")
	| Works in the catalog
include includes/bottom
