
meta(http-equiv="X-UA-Compatible" content="IE=Edge")

mixin loginForm()
	form
		h2 Log in to elog.io 
		br
		input#login(type="button" value="Email")
	form
		h2 ¿Don't have an account yet?:
		br
		label(for="signup-user") Pick a username: 
		input#signup-user(type="text")
		br
		input#signup(type="button" value="Sign up")

if landing
	include includes/top
		+loginForm()
	include includes/bottom
else
	+loginForm()