
meta(http-equiv="X-UA-Compatible" content="IE=Edge")

mixin loginForm()
	form
		input#login-user(type="text")
		input#login-persona(type="button" value="Email")
		input#token(type="hidden" value="#{token}")

if landing
	include includes/top
		+loginForm()
	include includes/bottom
else
	+loginForm()