//- Catalog web - list of user stock sources
//- 
//- Copyright 2014 Commons Machinery http://commonsmachinery.se/
//- Distributed under an AGPL_v3 license, please see LICENSE in the top dir.

- var sources = data;

- var dcTitle = 'http://purl.org/dc/elements/1.1/title';
- var ogTitle = 'http://ogp.me/ns#title';
- var catalogImageSrc = 'http://catalog.commonsmachinery.se/ns#imageSrc';
- var ccAttributionURL = 'http://creativecommons.org/ns#attributionURL';
- var ccAttributionName = 'http://creativecommons.org/ns#attributionName';
- var ccLicense = 'http://creativecommons.org/ns#license';
- var xhtmlLicense = 'http://www.w3.org/1999/xhtml/vocab#license';

- var object = function(md, pred) { return md[pred] ? md[pred][0].value : null; };

mixin sourceListItemView(source, idPrefix)
    - var catMetadata = source.metadataGraph[source.uri] || {};
    - var extMetadata = source.cachedExternalMetadataGraph[source.resource] || {};
    - var o = function(pred) { return object(extMetadata, pred); };

    //- TODO: data binding, but for now we do this hardwired
    div.entries(class="grid-25 tablet-grid-50 mobile-grid-100")
        div.entry(id=(idPrefix ? idPrefix + '-' + source.id : ''))
            if object(catMetadata, catalogImageSrc)
                img.thumbnail(src=object(catMetadata, catalogImageSrc), class="sourceImage")
            div.info
                h3: a(href=source.uri || '#')
                    = o(dcTitle) || o(ogTitle) || source.resource
                div
                    if o(xhtmlLicense)
                        a(href=o(xhtmlLicense))= o(xhtmlLicense)

 
include includes/top
    if sources
        ul#sources
            for source in sources
                +sourceListItemView(source, 'sources')
    else
        b You do not have any stock sources

    include includes/bottom

    //- script#sourceListItemTemplate(type="text/template")
    //-     +sourceListItemView({}, null)

    script.bootstrapData(type='application/json')
        != bootstrapData({ "data": sources || [] })

