//- Catalog web - user public profile page
//- 
//- Copyright 2014 Commons Machinery http://commonsmachinery.se/
//- Distributed under an AGPL_v3 license, please see LICENSE in the top dir.

//- TODO: this page is hardcoded for now, as there's nothing
//- interestingly dynamic to do yet.

- var owner = userId+'' === user.id+''

mixin userProfile(profile, showEmpty)
    section
        div.gravatar(class="grid-20 tablet-grid-25 mobile-grid-100")
            img(src=gravatarHashURL(profile.gravatar_hash, 237))
            if owner
                dl: +defTerm(showEmpty || profile.gravatar_email, 'Gravatar email')
        div(class="grid-45 tablet-grid-45 mobile-grid-60")
            dl.hideCaption
                - var displayName = user.alias || user.id
                h1 +defTerm(showEmpty || displayName, 'User')
                +defTerm(showEmpty || profile.name, 'Name')
                +defTerm(showEmpty || profile.email, 'Email')
                +defTerm(showEmpty || profile.location, 'Location')
                +defTerm(showEmpty || profile.website, 'Website')
            if user._perms.write === true
        div(class="prefix-10 grid-25 tablet-prefix-5 tablet-grid-25 mobile-grid-40")
            aside
                if owner
                    a(href='#{userId}/sources') My stock sources

                div.actions
                    button.edit(data-action="edit") Edit Profile

include includes/top
    div#userProfile(class="prefix-5 grid-90 tablet-grid-100 mobile-grid-100")
        +userProfile(user.profile)

    include includes/bottom

    script#editUserProfileTemplate(type="text/template")
        form
            fieldset#fields
                span
                    label(for="input-alias") User alias: 
                    input#input-alias(type="text", tabindex=1)
                span
                    label(for="input-alias") Name: 
                    input#input-name(type="text", tabindex=1)
                span
                    label(for="input-email") Email: 
                    input#input-email(type="text", tabindex=1)
                span
                    label(for="location") Location: 
                    input#input-location(type="text", tabindex=1)
                span
                    label(for="input-website") Website: 
                    input#input-website(type="url", tabindex=1)
                span
                    label(for="input-gravatar_email") Gravatar email: 
                    input#input-gravatar_email(type="email", tabindex=1)
            fieldset.actions
                button.save(data-action="save") Save
                button.cancel(data-action="cancel") Cancel

    script#userProfileTemplate(type="text/template")
        +userProfile(user.profile, true)

    script.bootstrapData(type='application/json')
        != bootstrapData({ "data": user })
