
script#workFormTemplate
	form
		label(for="visibility") visibility: 
		select(name="visibility")
			option(value="private") private
			option(value="public") public
			option(value="group") group
		label(for="state") state: 
		select(name="state")
			option(value="inprogress") in progress
			option(value="proofing") proofing
			option(value="published") published
		fieldset: legend: Metadata: 
			input(type="text") : 
			input(type="text")
			input.add(type="button" value="add")
		input.save(type="button" value="save")