//- Catalog web - page displaying a work
//- 
//- Copyright 2014 Commons Machinery http://commonsmachinery.se/
//- Distributed under an AGPL_v3 license, please see LICENSE in the top dir.



mixin workDetails()
    article
        - var displayTitle = work.alias || work.id
        header: dl.hideCaption: h1 
            +defTerm(displayTitle, 'Title')
            +defTerm(work.public, 'Public')
            if work._perms.write
                span.actions
                    button.edit(data-action="edit") Edit Details
        span.embed
        span.description #{work.description}
        footer.details
            div.gravatar
                img(src=gravatarHashURL(work.added_by.profile.gravatar_hash, 50))
            dl
                - var val = '<a href='+ work.added_by.id +'>'+ work.added_by.id +'</a>'
                +defTerm(val, 'Added by')
                +defTerm(work.added_at, 'on', 'added_at')
                +defTerm('--th time' , 'for the', 'forks')
                +defTerm('--' , 'from', 'media')
                +defTerm('-- collections', 'and currently part of', 'collections')

include includes/top
    div#work
        div#workDetails
            +workDetails

        button.delete(data-action="delete") Delete Work


    include includes/bottom

    script#editWorkDetailsTemplate(type="text/template")
        form
            span
                label(for="input-alias") Alias:
                input#input-alias(type="text")
            span
                label(for="input-description") Description:
                textarea#input-description(cols="25", rows="3")
            span.public
                label(for="input-public") Make it public
                input#input-public(type="checkbox")
            button.save(data-action="save") Save
            button.cancel(data-action="cancel") Cancel

    script#workDetailsTemplate(type="text/template")
        +workDetails()

    script.bootstrapData(type='application/json')
        != bootstrapData({ "data": work })
