//- Catalog web - page displaying a work
//- 
//- Copyright 2014 Commons Machinery http://commonsmachinery.se/
//- Distributed under an AGPL_v3 license, please see LICENSE in the top dir.



mixin workDetails(showEmpty)
    section
        - var displayTitle = work.alias || work.id
        header: dl.hideCaption: h1 
            +defTerm(displayTitle, 'Title')
            +defTerm(work.public, 'Public')
            if work._perms.write
                button.edit(data-action="edit") Edit Details
        div.embed
        footer.details
            div.gravatar
                img(src=gravatarHashURL(work.added_by.profile.gravatar_hash, 50))
            dl
                - var val = '<a href='+ work.added_by.id +'>'+ work.added_by.id +'</a>'
                +defTerm(val, 'Added by')
                +defTerm(work.added_at, 'on', 'added_at')
                +defTerm('--th time' , 'for the', 'forks')
                +defTerm('--' , 'from', 'media')
                +defTerm('-- collections', 'and currently part of', 'collections')

include includes/top
    div#workDetails
        +workDetails


    include includes/bottom

    script.bootstrapData(type='application/json')
        != bootstrapData({ "data": work })
