

/* ==== pallete ==== */

background = #f5f5f5
main-color = #8CC8EF
secondary-color = #395A76
terciary-color = #966B2D
contrast = 50%
detail = 20%
gamut = 0deg

/* ==== fonts ==== */

@import url(http://fonts.googleapis.com/css?family=Droid+Serif)

font-size = 100%
main-font = "Droid Serif", serif
h1-font = null
h2-font-color = null
h2-font= null
h2-font-color = null

content-color = #212121
link-color = #395A76

secondary-font-color = #003050
light-font-color = app-header-color

/* ==== header ==== */

home-header-bg = null
home-header-height = 12em
app-header-height = 5em
app-header-color = #f0f0f0
logo = url(/media/elog.io.png)
logo-width = 20%

/* ==== nav ==== */

nav-height = 2em
nav-color = #8CC8EF
nav-button-color = desaturate(nav-color, 0.1) - contrast * 0.3
nav-button-text = nav-color - contrast * 1.3
nav-hover = desaturate(nav-button-color, 2) - contrast * 0.2
nav-hover-text = nav-button-text - contrast * 0.5

/* ==== decorations ==== */

round-factor = 2
loading = url(/media/spinner.png)



/* ==== icons ==== */

@require 'octicons'

/* ===== forms ===== */

input-bg-color = bg-color
input-border-color = link-color + contrast
input-shadow-color = rgba(nav-color, 0.4)

dark-button-bg-color = content-color
dark-button-fg-color = dark-button-bg-color + contrast * 1.2
light-button-bg-color = app-header-color
light-button-fg-color = light-button-bg-color - contrast

positive-remark-bg-color = #00A050
positive-remark-fg-color = positive-remark-bg-color - contrast
negative-remark-bg-color = #FFA070
negative-remark-fg-color = negative-remark-bg-color - contrast
warning-bg-color = #50A000
warning-fg-color = warning-bg-color - contrast

neutral-bg-color = #BFDFF0
neutral-fg-color = neutral-bg-color - contrast
disabled-bg-color = light-button-bg-color
disabled-fg-color = disabled-bg-color - contrast * 0.5