
/* ==== fonts ==== */

@import url(http://fonts.googleapis.com/css?family=Droid+Serif)

font-size = 100%
main-font = "Droid Serif", serif
h1-font = null
h2-font-color = null
h2-font= null
h2-font-color = null

content-color = #090909
link-color = #395A76

secondary-font-color = null


/* ==== header ==== */

home-header-bg = null
home-header-height = 12em
app-header-height = 5em
app-header-color = #f0f0f0
logo = url(/media/elog.io.png)
logo-width = 20%

/* ==== nav ==== */

nav-height = 2em
nav-color = #8CC8EF
nav-tone = 'dark'
nav-hover = null
gamut = -360deg

/* ==== pallete ==== */

background = #f5f5f5
main-color = #8CC8EF
secondary-color = #395A76
terciary-color = #966B2D
contrast = 20%
detail = 20%

/* ==== decorations ==== */

round-factor = 2
loading = url(/media/spinner.png)