
script#workFormTemplate(type="text/template")
    form
        span
            label(for="input-alias") Alias:
            input#input-alias(type="text")
        span
            label(for="input-description") Description:
            textarea#input-description(cols="25", rows="3")
        span.public
            label(for="input-public") Make it public
            input#input-public(type="checkbox")
        fieldset.actions
            button.save(data-action="save") Save
            button.cancel(data-action="cancel") Cancel