
doctype html
meta(charset="utf-8") 

html(lang="en")
	head
		title Catalog Administration
		// link(rel="stylesheet", href="/css/style.css")

		script(src="/lib/require.js", data-main="/app/boot")
		
	body
