/*
*  Catalog web/style
*  Copyright 2014 Commons Machinery http://commonsmachinery.se/
*  Authors:
*      Elsa Balderrama <elsa@commonsmachinery.se>
*  Distributed under an AGPL_v3 license, please see LICENSE in the top dir.
*/


@require 'unsemantic-custom'
@require 'theme'


/* ==== Set colors ==== */

if light(link-color)
    link-ha-color = tint(link-color, contrast)
    link-v-color = shade(link-color, detail)
    link-v-color = link-v-color + gamut
else
    link-ha-color = shade(link-color, contrast)
    link-v-color = tint(link-color, detail)
    link-v-color = link-v-color + gamut

if !secondary-font-color
    secondary-font-color = content-color + gamut/2
if lightness(nav-hover) - lightness(nav-color) <= 0.5
    nav-click = tint(nav-hover, contrast * 0.5)
    s-link-ha-color = shade(secondary-font-color, contrast * 1.5%)
else
    nav-click = tint(nav-hover, contrast * 0.5)
    s-link-ha-color = tint(secondary-font-color, contrast * 1.5%)


/* ==== Style ==== */

a
    color link-color
    font-size font-scale
    text-decoration none
    &:hover, &:focus
        color link-ha-color
        
    &:visited
        color link-v-color

body
    background background
    color content-color
    font-family main-font
    font-size font-scale
    margin 0
    padding 0

button, input[type="button"]
    background-color neutral-bg-color
    border solid 1px neutral-fg-color
    border-radius round-factor * 0.15em
    color neutral-fg-color
    margin 0.3em 1em 0.3em 0
    min-height 2em
    min-width 7em
    text-shadow none
button, input, textarea
    &:disabled
        background-color disabled-bg-color !important
        border solid 1px disabled-fg-color !important
        color disabled-fg-color !important

dl
    display inline-block

footer
    display inline-block
    margin 1.5em 0 0 0
    padding 0.5em
    text-align center
    width 100%

form
    fieldset
        border none
        display block
        margin auto
        max-width 55em
        text-align center
    .save
        background-color neutral-bg-color
        border-color neutral-fg-color
        color neutral-fg-color
    .cancel
        background-color light-button-bg-color
        border-color light-button-fg-color
        color light-button-fg-color

h1
    font-family h1-font || main-font
    color h1-font-color || content-color
h2
    font-family h2-font || main-font
    color h2-font-color || content-color

header
   background-color app-header-color
   height app-header-height
   margin-bottom 1em
   text-align center
   vertical-align middle
   width 100%
   > #logo
       background logo center/contain no-repeat
       float left
       height 80%
       margin 5px 0
       a
           display block
           height 100%
           margin 0 auto
           width 40%
    ul, li
        display inline-block
    nav#header
        background-color nav-color
        border-radius 0  0 (round-factor * 0.3em) (round-factor * 0.3em)
        height nav-height
        min-height nav-height
        text-align left
        vertical-align top
        width 100%
        a, a:link, a:visited
            color nav-button-text
            transition all 0.2s
        a:hover, a:focus, a:active
            color nav-hover-text
        > ul#pages
            border-radius 0  0  0 (round-factor * 0.3em)
            height nav-height
            margin 0
            overflow hidden
            padding 0
            > li
                background-color nav-button-color
                border-right solid 1px nav-color
                display inline-block
                height nav-height
                line-height nav-height
                margin-right 0.1em
                padding 0 0.5em
                transition all 0.2s
                &:hover 
                    background-color nav-hover
                &:active
                    background-color nav-click
                > a
                    display inline-block
                    height 1.5em
                    line-height 1.5em
                    vertical-align middle
            .home a:before
                icon('home', 1.5em)

        > ul#nav-user 
            clear none
            float right
            min-height nav-height
            margin 0.1em 1em
            text-align right
            > li
                font main-font
                font-size 80%
                line-height nav-height
                margin 0.1em
                vertical-align top
            > li:not(:last-child):after
                content " | "
            > li.gravatar
                img
                    vertical-align middle
                &:after
                    content ""

input
    background-color input-bg-color
    border 1px solid input-border-color
    border-radius (round-factor * 0.1)em
    box-shadow -1px -1px 10px -2px input-shadow-color inset
    padding 0.4em 0.5em

.delete
    background-color negative-remark-bg-color
    border solid 1px negative-remark-fg-color
    color negative-remark-fg-color
    float right

.dialog
    display block
    left 0
    padding 1em
    position absolute
    top 3em
    width 100%
    > div, >form
        background background * 1.2
        display block
        margin auto
        min-width 10em
        max-width 40em
        padding 1.5em
        width 100%

.errorMsg
    animation notification 0.2s ease-out
    font-size 0.8em
    position absolute
    li
        color negative-remark-fg-color
        list-style-type none

@keyframes notification
    0%
        transform translate(0, 2em)
        opacity 0
    100%
        transform none
        opacity 1

.entries
    float none
    display: inline-block
    padding 0.5em
    h2
        display inline-block
        margin 0
    .info
        display block
        font-size 0.7em
    .seeMeta
        font-size 0.9em
        margin 0.5em

.entry, .entries
    padding 1em
    position relative
    vertical-align top
    h2
        display inline-block
        font-size 2em
        margin 0.5em 0.1em
    h3
        display inline-block
        font-size 1.5em
        margin 0.2em 0px
    .info
        display block
        font-size 0.9em

.inline-icon
    float left
    font-size 1em
    line-height 1.3em
    padding 0
    text-align center
    vertical-align middle
    width 1.5em

img.thumbnail
    max-width 200px
    max-height 200px

.success
    color positive-remark-fg-color 
    max-width 40em
    text-align center
    span
        display block
        text-align left
    button
        display inline-block
        margin-top 1.5em

.working
    overflow hidden
    .loading
        display block
        height 0
        left 50%
        max-width 3.5em
        min-width 1em
        position absolute
        top 50%
        width 100%
        &:before
            background-image loading 
            background-repeat-y no-repeat
            background-size auto 100%
            background-position 0
            content ''
            display block
            margin-left -50%
            margin-top -50%
            padding-top 100%
            width 100%
            animation spin 0.35s steps(9, start) infinite
            -o-animation spin 0.35s steps(9, start) infinite
            -moz-animation spin 0.35s steps(9, start) infinite
            -webkit-animation spin 0.35s steps(9, start) infinite
            -ms-animation spin 0.35s steps(9, start) infinite
    .overlay
        background-color rgba(240,240,240,0.8)
        height 100%
        left 0px
        position absolute
        top 0px
        width 100%

@keyframes spin
    0% 
        background-position 0%
    100% 
        background-position -100%


#bootstrapData
    display none

#breadCrumbs
    float left
    margin 0
    text-align left
    vertical-align top
    width 100%
    ul, li
        display inline-block   
    > ul
        > li:before
                content " > "
        > li:first-child:before
                content ""

#content
    display block
    float none
    margin auto
    text-align left

#homeHeader
    background home-header-bg
    height home-header-height
    margin-bottom 1em
    text-align center
    width 100%
    > #logo
        background logo center/contain no-repeat
        height 100%
        a
            display block
            height 80%
            margin 0 auto
            margin-top 5%
            width 70%

#wrapper
    display block
    width 90%

@media screen and (max-width: 55em)
    #wrapper
        width 100%
    header
        nav
            margin 0

/* Used by templates to hide some stuff by default */
.hidden
    display none

dl.hideCaption
    vertical-align top
    dt
        position absolute
        visibility hidden
    dd
        margin-left 0

#userProfile
    position relative
    h1
        font-size 1.2em
        margin 0
    span
        display block
    dl
        font-size 0.9em
        line-height 1.3em
        margin 0 0 1em
        width 120%
    form
        span
            display inline-block
            margin 0.5em auto
            max-width 25em
            text-align center
            width 45%
            label
                display inline-block
                margin-left -12em
                text-align right
                width 10em
            input
                display inline-block
                max-width 100%
                width 15em

            @media screen and (max-width: 35em)
                display block
                width 100%
            @media screen and (max-width: 71.99em)
                text-align left
                max-width 15em
                label
                    display block
                    margin-left 0
                    text-align left

    .gravatar
        font-size 0.8em
        text-align center
        dl, dt, dd
            margin 0
            text-indent none
            width 100%
        img
            border-radius round-factor*0.2em
            max-width 100%
            width 237px
        @media screen and (max-width: 30em)
            float left
    .user
        font-size 1.5em
        font-weight bold
        line-height 100%
    .name 
        margin 0 0 0.7em 0
    .email
        &:before
            icon('mail')
            @extend .inline-icon;
    .location
        &:before
            icon('location')
            @extend .inline-icon;
    .website
        &:before
            icon('link')
            @extend .inline-icon;
    aside
        bottom 0
        float none
        position absolute
        text-align left
        .edit
            background-color dark-button-bg-color
            border none
            color dark-button-fg-color

#work
    position relative
    #workDetails
        position relative

        dl
            font-size 0.7em
            margin 0
        form
            span
                display block
                margin 0.5em auto
                max-width 25em
                text-align left
                label
                    display inline-block
                    text-align right
                    vertical-align top
                    width 10em
                input, textarea
                    display inline-block
                    max-width 100%
                    text-align left
                    width 15em
                textarea
                    font-size 1.17em

                #input-public
                    width auto

                @media screen and (max-width: 35em)
                    width 15em
                    label
                        text-align left
                        width auto
                    input, textarea
                        width 20em
        h1
            font-size 2em
            margin 0
        header
            background none
            text-align left
            .public
                &:after
                    icon('eye')
            .private
                &:after
                    icon('lock')
            .public, .private
                display inline-block
                &:after
                    @extend .inline-icon;
                    font-size 0.9em
            .title
                display inline-block
        .details
            text-align left
            padding 0
            span:not(:last-child)
                margin-right 0.4em
            span, dt, dd, dl
                display inline-block
                vertical-align middle
            dt, dd
                margin 0
            .gravatar img
                width 2em
        .edit
            float right
            background-color dark-button-bg-color
            border none
            color dark-button-fg-color

#createWorkForm
    form
        width 100%
        max-width 25em
        span
            display block
            margin 0.5em auto
            width 45%
            label
                display inline-block 
            input, textarea
                display inline-block
                max-width 100%
                text-align left
                width 15em
            textarea
                font-size 1.17em

            #input-public
                display inline-block
                width auto
